@font-face
{
    font-family: jost;
    src: url(../css/fonts/Jost-Regular.ttf);
}
@font-face
{
    font-family: josts;
    src: url(../css/fonts/Jost-SemiBold.ttf);
}
@font-face
{
    font-family: jostb;
    src: url(../css/fonts/Jost-Bold.ttf);
}