.footer
{
    padding:24px 0px 40px;
    color:#fff;
    p
    {
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0px;
        a
        {
            text-decoration: underline !important;
            color:#fff;
        }        
    }
    h5
    {
        font-family: Roboto;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: 26px;
        letter-spacing: 0px;
    }
    h4
    {
        font-family: Roboto;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: 26px;
        letter-spacing: 0px;
        margin:10px 0px 15px;
    }
    .quick-links
    {
        a
        {
            display: inline-block;
            width: 100%;
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 40px;
            letter-spacing: 0px;
            color:#fff;
            &:hover
            {
                color:$blue;
            }
            & ~ a
            {
                margin-top:5px;
            }
        }
    }
}

.footer-bottom{
    color:#fff;
    padding:24px 0px 10px;
    background-color: #323232;
    img
    {
        height: 70px;
        width: auto;
        margin:13px 0px 22px;
    }
    h6
    {
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 21px;
        letter-spacing: 0.28125px;
        margin:0px 0px 30px;
    }
    .social-links
    {
        margin-bottom:30px;
        a
        {
            display: inline-block;
            width:34px;
            padding:1px 0px;
            border-radius: 100%;
            text-align: center;
            background-color: #fff;
            color:$atext;
            font-size: 20px;
            &:hover
            {
                background-color: $blue;
                color:#fff;
            }
            & ~ a
            {
                margin-left:15px;
            }
        }
    }
    .f-links
    {
        a
        {
            font-family: Roboto;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 19px;
            letter-spacing: 0.30000001192092896px;
            text-align: center;
            display: inline-block;
            color:#fff;
            margin-bottom: 15px;
            &:hover
            {
                color:$blue;
            }
            & ~ a
            {
                margin-left:20px;
            }
        }
    }
    p
    {
        color:#B2B2B2;
        font-family: Roboto;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0.4000000059604645px;
        text-align: center;
        margin:0px;
    }
}