
* {
  box-sizing: border-box;
  font-family: "regular", serif;
  margin: 0px;
  padding: 0px;
}

*::selection {
  background-color: rgb(0, 162, 255);
  color: #fff;
}

ul {
  margin: 0px;
  padding: 0px;

  li {
    list-style-type: none;
    display: inline-block;
  }
}

a,
.link {
  text-decoration: none !important;
}

.btn,
button {
  i {
    margin-right: 5px;
  }
}

html {
  overflow-x: hidden !important;
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  margin: 0px;
  position: relative;
  padding: 0px;
  width: 100%;
}

body::-webkit-scrollbar {
  width: 12px;
  background-color: transparent;
  position: absolute;
}

body::-webkit-scrollbar-thumb {
  background-color: #aaa;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

.fluid {
  padding-left: 7px !important;
  padding-right: 7px !important;
}

// Margin Y axis Remover from row
.mx-none {
  margin: 0px -15px 0px -15px;
}

.hidden {
  display: none;
}

.btn {
  font-family: bold;
  padding: 5px 30px;
  border-radius: 100px;
}

.btn-back {
  border: 2px solid $gray;
  background: transparent;
  color: $gray;

  &:hover {
    color: #fff;
    background-color: $gray;
  }
}

.btn-green {
  border: 2px solid $green !important;
  background: $green !important;
  color: #fff !important;

  &:hover {
    color: #fff !important;
    background-color: $orange !important;
    border-color: $orange !important;
  }
}



.btn-default:active {
  transform: scale(0.97);
}

.btn-next:focus {
  background: $green !important;
  border-color: $green !important;
}

button:focus {
  box-shadow: none !important;
}

*:focus {
  outline-color: transparent !important;
}

.btn:focus,
.form-control:focus {
  box-shadow: none !important;
}

.mt-20 {
  margin-top: 20px;
}

@media(min-width:992px)
{
  .hide-before
  {
    display: none !important;
  }
}

@media(max-width:991px)
{
  .hide-after
  {
    display: none !important;
  }
}


// ROUGH CSS HERE


body {
	position: relative;
	font-size: 14px;
	margin: 0;
	padding: 0;
	color: #495158;
	font-family: 'Avenir';
	overflow-x: hidden;
}

html {
	font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

p {
	margin: 0;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2.8rem;
}

h3 {
	font-size: 1.5rem;
}

h4 {
	font-size: 1.25rem;
}

.font-fourth {
	font-size: 1.125rem;
}

.font-tewelth {
	font-size: 12px;
}

p {
	font-size: 16px;
}

a,
a:hover,
a:focus {
	text-decoration: none;
	outline: none;
	color: inherit;
}

ol,
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

ol li,
ul li {
	display: inline-block;
}

iframe {
	border: 0;
}

button {
	cursor: pointer;
	background: transparent;
}

button:focus {
	outline: none;
	background: transparent;
}

/*Transitions*/
a,
button {
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}

img {
	width: 100%;
}

.thumb-img,
.thumb-img>img {
	display: block;
	width: 100%;
}

section {
	position: relative;
}

.container {
	max-width: 1200px;
}

.padding-t {
	padding-top: 70px;
}

.mb-50 {
	margin-bottom: 50px;
}

.mt-50 {
	margin-top: 50px;
}

.mb-40 {
	margin-bottom: 40px;
}

.mt-30 {
	margin-top: 30px;
}

.mb-30 {
	margin-bottom: 30px;
}

.mt-20 {
	margin-top: 20px;
}

.mb-10 {
	margin-bottom: 10px;
}

.mt-10 {
	margin-top: 10px;
}

.mt-5 {
	margin-top: 5px;
}

.mb-0 {
	margin-bottom: 0;
}

.darkcolor {
	color: #1c2b36;
}

.whitecolor {
	color: #fff;
}

.text-green {
	color: #50c0b0;
}

.text-peech {
	color: #ec8d65;
}

.bg-green {
	background: #50c0b0;
}

.bg-light-grey {
	background: #dfdedb;
}

.bg-dark-grey {
	background: #7f7f7f;
}

.bg-black {
	background: #000000;
}

.bglight {
	background: #f6f6f6;
}

.text-error {
	color: #ff3434;
	font-weight: normal;
	font-size: 12px;
	margin: 0;
}

.text-error>i {
	font-size: 10px;
}

.font-medium {
	font-weight: 500;
}

.text-bold {
	font-weight: bold;
}

.heading-style {
	position: relative;
	padding-bottom: 5px;
	/* border-bottom: 2px solid #495158; */
	display: inline-table;
	line-height: normal;
	text-decoration: underline;
	padding-top: 15px;
}

/* .text-green.heading-style {
	border-color: #8fd2cb;
}
.text-peech.heading-style {
	border-color: #ec8d65;
} */
.simple.heading-style {
	border: none;
	padding-bottom: 0;
	text-decoration: none;
}

.heading-style,
.muesoFont {
	font-family: 'title';
}

.copyrights p,
.copyrights li a,
.footer-links li a,
.mayridFont {
	font-family: 'text';
}

.rbotoFont,
.btn-web {
	font-family: 'regular';
}

.rbotoFontBold {
	font-family: 'bold';
}


/* Simple BG's */
.container,
.bg-web {
	z-index: 1;
}

.bg-web {
	background: url(../images/web-ping.png) no-repeat;
	background-size: cover;
	background-position: center center;
}

.bg-web::after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	opacity: .9;
	z-index: -1;
	background: #fff;
}

.bg-web.parallax-green::after {
	background: #50c0b0;
}

.bg-web.parallax-peech::after {
	background: #ec8d65;
}

/*------ Buttons ------*/
a[class^="btn"] {
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.btn-web,
.btn-simple {
	position: relative;
	text-align: center;
	display: inline-block;
	line-height: normal;
	overflow: hidden;
}

.btn-web {
	font-size: 22px;
	text-transform: capitalize;
	z-index: 1;
	-webkit-border-radius: 40px;
	border-radius: 40px;
	border: 2px solid #495158;
	color: #495158;
	display: inline-table;
}

.btn-web>span,
.btn-web i {
	display: table-cell;
	text-align: center;
}

.btn-web>span {
	background: #fff;
	padding: 14px 3.5rem;
	-webkit-border-radius: 40px;
	border-radius: 40px;
}

.btn-web i {
	width: 46px;
	vertical-align: middle;
}

.btn-web.bg-green {
	background: #8fd2cb;
}

.btn-web.bg-peech {
	background: #ec8d65;
}

.btn-simple {
	border: 1px solid transparent;
	font-size: 14px;
	padding: 10px 2rem;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.green-hole,
.btn-simple.bg-green:hover,
.btn-simple.bg-green:focus {
	border-color: #50c0b0;
	color: #50c0b0;
	background: transparent;
}

.peech {
	background: #ed8e65;
}

.white-btn {
	background: #fff;
	color: #4fbeaf;
}

.btn-simple.peech:hover,
.btn-simple.peech:focus {
	border-color: #ed8e65;
	background: transparent;
	color: #ed8e65;
}

.btn-simple.white-btn:hover,
.btn-simple.white-btn:focus {
	border-color: #fff;
	background: transparent;
	color: #fff;
}

.btn-simple.bg-green,
.peech,
.green-hole:hover,
.green-hole:focus {
	color: #fff;
}

.green-hole:hover,
.green-hole:focus {
	background: #50c0b0;
}