@font-face {
    font-family: 'rl';
    src: url(../fonts/RobotoCondensed-Light.ttf);
}
@font-face {
    font-family: 'rr';
    src: url(../fonts/RobotoCondensed-Regular.ttf);
}
@font-face {
    font-family: 'rb';
    src: url(../fonts/RobotoCondensed-Bold.ttf);
}
@font-face {
    font-family: 'or';
    src: url(../fonts/OpenSans.ttf);
}
@font-face {
    font-family: 'ob';
    src: url(../fonts/OpenSansBold.ttf);
}