@font-face{
    font-family: acbold;
    src: url(../css/fonts/AdobeClean-Bold.ttf);
}
@font-face{
    font-family: aclight;
    src: url(../css/fonts/AdobeClean-Light.ttf);
}
@font-face{
    font-family: ac;
    src: url(../css/fonts/AdobeClean-Regular.ttf);
}